@font-face {
    font-family: 'Pretendard';
    src: url('https://xn--cdn-k87l187btgv/Pretendard-Regular.woff2') format('woff2'),
    url('https://xn--cdn-k87l187btgv/Pretendard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Pretendard', sans-serif;
}