*{
    font-size: 16px;
    font-family: 'Pretendard-Regular', sans-serif;
}

section{
    position: relative;
    width: 1278px;
    margin: 0;
}
a{
    text-decoration-line: none;
    color: inherit
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

ul li {
    margin-right: 10px;
}


/*wrap_top 시작*/
.wrap_top{
    padding: 31px 0 0 0;
    box-sizing: border-box;
    background: #F2E9D8;
    margin-bottom: 80px;
    width: 100%;
}

.wrap_top > *{
    margin: 0 Auto;
}

.wrap_middle > *{
    margin: 0 Auto;
}

.wrap_bottom > *{
    margin: 0 Auto;
}

.top_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_header img {
    margin-right: 500px;
}

p.gird_h1{
        font-size: 40px;
        color: orange;
}


body{
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
}


.wrap_middle{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 68px;
}




.intro_page, .half_photo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro_page img {
    width: 415px;
    height: 766px;
    margin-left: 170px;
}
/*bagie_background section 끝*/

/*half_photo section 시작*/
.half_photo img {
    width: 660px;
    height: 390px;
    border-radius: 30px;
    margin-right: 110px;
    object-fit : cover;
}

.half_photo{
    margin-bottom: 110px;
}

/*half_photo section 끝*/
.intro_page_explain, .half_photo_explain{
    text-align: left;
}


/*grid_photo section 시작*/

.explore_explain {
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        font-size: 24px;
        line-height: 30px;
    }
}


.grid_h1{
    font-size: 32px;
    color: #D97652;
}
.grid_photo_section{
    display: flex;
    flex-direction: column;
    align-items: center;

}


.three_img_top, .three_img_bottom {
    display: flex;
    gap: 55px;
    padding: 36px;

}
.three_img_top > img, .three_img_bottom > img {
    width: 430px;
    height: 430px;
    border-radius: 30px;
    margin: -18px
}

.three_img_new{
    display: flex;
    gap: 72px;
    padding: 36px;
}

.three_img_new > img{
    width: 378px;
    height: 378px;
    border-radius: 30px;
    box-shadow: 10px 10px 20px grey;
}

.grid_frame {
    margin-bottom: 42px;
}
/*new*/

.grid_frame:first-child{
    margin-top: 70px;
}

hr{
    width: 1278px;
    color: #C4C4C4;
    height: 1px;
    margin: 80px 0 0 0;
}

/*grid_photo section 끝*/

.OrangeBtn{
    background-color: #D97652;
    color: aliceblue;
    border-radius: 40px;
    width: 140px;
    height: 50px;
    border: none;
}

.plain_text{
    font-size: 16px;
}
h1{
    font : 48px Pretendard_Bold;
}

h2{
    font-size: 36px;
}
/*구독 session 시작*/

.wrap_bottom{
    box-sizing: border-box;
    width: 100%;
}

.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subscribe_elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 51px 58px;
    width: 1280px;
    background-color: #263140;
    border-radius: 30px;
    color:white;
    position: relative;
    top:100px;
    z-index: 1;
}

.subscribe_explain{
    width: 471px;
}
.email_input{
    width: 530px;
    height: 60px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 6px;
    border-radius: 60px;
    input{
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        color: #767676;
        margin-left: 16px;
        border : 0;
    }
}
.mail_img{
    margin-left: 28px;
}

/*구독 session 끝*/

/*footer 시작*/
footer{

    padding: 0;
    box-sizing: border-box;
    width: 1278px;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 130px;
    justify-content: space-between;
}


.GoUp:hover img{
    content: url("../hodu_img/scroll-top-btnAfter.png");
}

.GoUp{
    display: flex;
    margin: 19px 24px;
    position: absolute;
    bottom:0;
    right:-330px;
}
/*footer 끝*/


/*modal 시작*/
#contentsOfModal {
    display: none;
    width: 600px;
    height: 400px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 30px;
    position: fixed;
    z-index: 100;
    background-image: url("../hodu_img/modal_background.png");
    top: 50%;

    button {
        margin-bottom: 40px;
    }
}



